:root {
  --fs-xl: 2.5rem;
  --fs-rdv: 2.2rem;
  --fs-rdv-p: 1.3rem;
  --p-b: 1rem;
  --img-height: 1300px;
  --img-position: -850px;
  --img-heigth-content: 350px;
  --img-marging-x: -85px;
  --max-rdv-h: 60%;
  --svg-m-b: 0px;
}
@media (min-width: 992px) {
  :root {
    --fs-xl: 1.5rem;
    --img-height: 1300px;
  }
}
@media (max-width: 992px) {
  :root {
    --fs-rdv: 2rem;
    --fs-rdv-p: 1.3rem;
    --img-height: 1000px;
    --img-position: -630px;
  }
}
@media (max-width: 768px) {
  :root {
    --fs-rdv: 1.5rem;
    --fs-rdv-p: 1.1rem;
    --img-height: 700px;
    --img-position: -420px;
    --max-h-60: 60%;
  }
}
@media (max-width: 576px) {
  :root {
    --fs-xl: 1.7rem;
    --fs-rdv: 1rem;
    --img-height: 500px;
    --img-position: -340px;
    --img-heigth-content: 150px;
    --img-marging-x: -25px;
    --max-rdv-h: 50%;
    --svg-m-b: 14px;
  }
}
.menu-font {
  font-size: var(--fs-xl);
}
.menu-ligne {
  height: 2px !important;
  background-color: #e8d9d1;
  border: none;
  opacity: 1;
}
.down-bar {
  width: 100%;
  height: 30px;
  background-color: #e8d9d1;
  list-style-type: none;
}
.spacing {
  letter-spacing: 2px;
}
.appointment {
  height: var(--img-heigth-content);
  width: 100%;
  background-image: url(../assets/img/interview-in-cafe.jpg);
  background-repeat: no-repeat;
  background-size: 120% var(--img-height);
  background-position: var(--img-marging-x) var(--img-position);
}

.btn-rdv {
  background-color: #fff !important;
  opacity: 0.9;
  max-width: 810px;
}
.btn-rdv:hover {
  background-color: rgb(202, 205, 205) !important;
}

.btn-rdv-title {
  margin-top: 4px;
  font-size: var(--fs-rdv);
}
.btn-rdv-text {
  font-size: var(--fs-rdv-p);
  margin-top: -5px;
}
.max-h-60 {
  height: var(--max-rdv-h);
}
.svg-m-b {
  padding-bottom: var(--svg-m-b);
}
.card-container {
  display: flex;
}
.gradient-img {
  width: 400px;
  height: 400px;
  border: solid 2px;
  background: linear-gradient(
    to right,
    var(--gradien-primary-color),
    var(--gradien-secondary-color)
  );
}
